[2018-01-08 20:23] smuribi opened #3 "Issue with host name containing special characters"
Hi there, finding this exporter very useful.  We are seeing some strangeness though with server names containing a dash (i.e. my-host@domain.com).  It seems as though everything after the "my" is truncated.

Thanks!

Salem

[2018-01-08 21:46] mjtrangoni commented on #3
Hi @smuribi,
Thanks for reporting! This should be fixed now. Could you please confirm it?

[2018-01-09 19:05] smuribi commented on #3
Thanks Mario, that works! I did have a question though, can the exported handle multiple products in the same license.dat file or do i need to run multiple exporters?

# FlexLM Licenses to be monitored.
---
licenses:
  - name: MOSEKLM
    license_file: /opt/MATLAB_FlexLM/R2016b/etc/license.dat
    license_server: 27001@talicense
    monitor_users: True
    monitor_reservations: True
licenses:
  -

[2018-01-09 19:27] mjtrangoni commented on #3
Hi @smuribi,

Yes, you can check all your licenses with only one flexlm_exporter instance. The only one *requirement* is that all flexlm server have to be reachable (network).

You don't have to define `license_file` and `license_server` at the same time, one of them is enough.

For example,

[code]

[2018-01-11 17:01] #3 closed

[2018-04-24 17:49] nwies opened #4 "scrape collector issu over time"
### Host operating system: output of `uname -a`
CentOS Linux release 7.4.1708 (Core)
Linux localhost.localdomain 3.10.0-693.21.1.el7.x86_64 #1 SMP Wed Mar 7 19:03:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
### flexlm_exporter version: output of `flexlm_exporter --version`

flexlm_exporter, version 0.0.1 (branch: master, revision: df8de569d92350b4cf04e1a79990b07f781cb524)
  build user:       root@l

[2018-04-24 20:31] mjtrangoni commented on #4
Hi @nwies,
Thanks for reporting! I would personally recommend you to use `scrape_interval: '30s'` or even `60s`, as this highest frequency(15s) is not going to give you much more resolution.

Do you see already any warning/error message produced by the `flexlm_exporter` in `dmesg` or `journalctl`? If not, could you please run the `flexlm_exporter` with `--log.level="debug"` for a while and then ch

[2018-04-25 08:28] nwies commented on #4
Hello,

 i check dmesg And journalctl And i don't see any warning for flexlm
exporter.
But I still see blank in grafana this morning.

 I will switch to 30 s scrap for the day in order check if the blanks still
appear.

Keep you posted.

BR

Le mar. 24 avr. 2018 22:31, Mario Trangoni <notifications@github.com> a
écrit :

[2018-04-25 11:35] nwies commented on #4
hello, I setup the debug log level and the 30s scrape. even with this last parameter (30s) I still see blank
[log_flexlm_exporter_2018_04_25_1330.txt](https://github.com/mjtrangoni/flexlm_exporter/files/1946806/log_flexlm_exporter_2018_04_25_1330.txt)

on the debug log, the lmstat is always successfull on around 10s
What could be the next move?

Thanks for your help.
BR

[2018-04-25 14:20] nwies commented on #4
Thanks for the tips. I put the ip adress for this server on the flexlm_exporter.yml.
We will see after few hours.

[2018-04-26 15:45] nwies commented on #4
still the same, but no error from the debug log ...
![scrape_success_20180426](https://user-images.githubusercontent.com/10389749/39316464-836911be-4979-11e8-9646-6ecd6b77328b.png)
[log_flexlm_exporter_2018_04_26.txt](https://github.com/mjtrangoni/flexlm_exporter/files/1951930/log_flexlm_exporter_2018_04_26.txt)

What could we try now ?
maybe add the flexlm server one by one ?

[2018-04-26 17:43] mjtrangoni commented on #4
@nwies mmm, could you take a look, and see which of all you license metrics are missing. With this dashboard [here](https://grafana.com/dashboards/3854), you can narrow it down.

In my production instances I see from time to time some failing scrapes, but it always has something to do with a  FlexLM daemon reload for configuration changes or system maintenance.

[2018-05-02 09:35] mjtrangoni commented on #4
@nwies ping

[2018-05-02 20:55] nwies commented on #4
hello,

Sorry for not responding before, i was on long weekend.
today,  I set the exporter oto listen only on the flex server on the same
lan.
I will look at the results tomorrow afternoon.

Do you think the exporter could trash all the datas from the current scrape
if a server will not send his infos?

Br

Le mer. 2 mai 2018 11:35, Mario Trangoni <notifications@github.com> a
écrit :

[2018-05-03 13:18] sbhenderson opened #5 "[Docker] lmutil fails due to"
### Host operating system: Linux linux-server 4.15.0-20-generic #21-Ubuntu SMP Tue Apr 24 06:16:15 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### flexlm_exporter version: mjtrangoni/flexlm_exporter:master

### Are you running flexlm_exporter in Docker? Yes

### What did you do that produced an error? Visited the /metrics page

### What did you expect to see? No fatal errors.

### What did you see in

[2018-05-03 17:36] nwies commented on #4
hello, I just look into the grafana reprot and no problem with the server from the same lan.
I setup another flexlm server (windows 2012) from another lan.
cross finger it will be the last and old one (windows 203) causing trouble.

BR

[2018-05-04 16:25] nwies commented on #4
hello,
I just look at the grafana and no problem with the second flexlm server. So, the old windows server should be the problem.
Is there a way to not have the complete scape invalidated if any server do not respond?

BR

[2018-05-05 10:30] mjtrangoni commented on #4
@nwies If some FLEXlm license fails, you should be still getting the information from the other licenses. This exporter scrape every license individually with `lmutil lmstat -c <port>@<fqdn> -a`, so if this fails, the individual scrape will be failing and not everyone.

You could configure more than just one `flexlm_exporter` instance, ie. one per LAN.

[2018-05-05 10:39] mjtrangoni commented on #5
@sbhenderson Thanks for reporting! I will be fixing it as soon as possible.

[2018-05-05 12:59] nwies commented on #4
ok. I will do.
Thanks for your help.

the issue as not related to your exporter and it can be close now.

[2018-05-05 12:59] #4 closed

[2018-05-05 16:26] mjtrangoni commented on #5
@sbhenderson This should be fixed now. Could you please test it again? Thank you!

[2018-05-07 14:10] sbhenderson commented on #5
I tested again, and I can verify that lmutil successfully launches and am now able to use the docker version just as well as the source version. Thanks for the speedy assistance. Separately, nice work on this exporter!

[2018-05-14 09:03] VonOx opened #6 "Add features_to_include option for readability and convenience"
Hello !

For those using combined licence file ( multiple vendors and features ) it is a pain to edit and maintain yml config file because a lot of feature must be excluded

exemple:

[code]

Can be

[code]

What do you think ?

Also vendor can be filtered ( maybe ? )

Thank you
Vincent.

[2018-05-15 07:30] VonOx opened #7 "Incorrect server status"
### Host operating system: output of `uname -a`

Prometheus / Grafana : Ubuntu 16.04
Flexlm: Server 2012R2

### flexlm_exporter version: output of `flexlm_exporter --version`
Latest Docker image

### What did you expect to see?

My server is UP and Running in dashboard

### What did you see instead?

Server down

![capture](https://user-images.githubusercontent.com/1528694/40042628-59dbc730-5822-1

[2018-05-15 08:07] mjtrangoni commented on #7
Hi @VonOx,

Interesting, thanks for reporting!! I will be checking this next week, as I'm currently going on vacations. Could you please post the server information (~first 10 lines) of `lmutil lmstat -c 7788@BVS15004 -a` output here?

[2018-05-15 08:28] mjtrangoni commented on #6
@VonOx yes, you're right. I agree giving more flexibility for configuring licenses.

I will be making possible to configure `features_to_include` **or**  `features_to_exclude`. They will be exclusive, as I think this will be the best and flexible combination.

Do you have more than one vendor for each license? Or what did you mean by filtering vendors?
If yes, could you post the `lmutil lmstat -c

[2018-05-15 11:40] VonOx commented on #6
@mjtrangoni Yes this is combined license file

exemple of license file:

[code]

Output of lmutil lmstat -c -a:

[code]

_Server is internal so its ok to let in output , and no license usage now ( I've just removed extra return)_

So for each software i have a vendor, maybe filter by vendor is more efficient than including or excluding features. This is what i mean :)

[2018-05-15 11:43] VonOx commented on #7
No problem

Output:
[code]

[2018-05-18 03:13] nwies opened #8 "No usage by users report for some servers"
### Host operating system: output of `uname -a`
Linux localhost.localdomain 3.10.0-693.21.1.el7.x86_64 #1 SMP Wed Mar 7 19:03:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### flexlm_exporter version: output of `flexlm_exporter --version`
flexlm_exporter, version 0.0.1 (branch: master, revision: df8de569d92350b4cf04e1a79990b07f781cb524)
  build user:       root@localhost.localdomain
  build date:

[2018-05-26 16:46] #7 closed

[2018-05-26 16:49] mjtrangoni commented on #7
@VonOx  I added your case for testing. Please test if it works as intended. Thanks!

[2018-05-26 17:43] mjtrangoni commented on #8
@nwies Thanks for reporting! This should be fixed now. Please tell me if it works as intended.

[2018-05-28 12:26] nwies commented on #8
hello, I still ahve the problem. PLease find a complete lmstat -a from the server .
[lmstat_trp_pb_a.txt](https://github.com/mjtrangoni/flexlm_exporter/files/2045034/lmstat_trp_pb_a.txt)
[lmstat_trp_pb.txt](https://github.com/mjtrangoni/flexlm_exporter/files/2045035/lmstat_trp_pb.txt)

thanks for our help.

[2018-05-29 13:52] VonOx commented on #6
Alternatively:

lmutil lmstat with -S arg can filter by vendor/daemon

[code]

[2018-05-31 16:54] nwies commented on #8
hello, I compare a working output to the not working .
there is some datas after on the example below : "(linger: 1140944 / 1340160)"

    cmfy211 UFRTR1LT0087375 UFRTR1LT00873750.0 (v1.00) (UFRTRP01LMRP060.COMAUGROUP.COM/28000 1401), start Tue 5/29 9:30  (linger: 1140944 / 1340160)

hope it's help.

BR

[2018-05-31 18:01] #8 closed

[2018-05-31 18:03] mjtrangoni commented on #8
@nwies yes, you are right. I added support for this now. Could you please check if this work as intended now? Thanks!

[2018-05-31 18:15] mjtrangoni commented on #6
@VonOx I prefer filtering by features rather than by vendors, because with `lmutil lmstat -a` I get everything at once. As the scrape frequency could be really high, I don't want to make more than one query by scrape.

I will be implementing the `features_to_include` this weekend.

[2018-06-01 15:55] nwies commented on #8
hello,

I just let it run for the day and the lic user name was correctly reported.

thanks for your support.

Br
Nicolas

Le jeu. 31 mai 2018 20:03, Mario Trangoni <notifications@github.com> a
écrit :

[2018-06-02 16:34] mjtrangoni commented on #6
@VonOx PTAL. Thanks!

[2018-06-04 21:10] VonOx commented on #6
OK i'will try this week, thank you Mario

[2018-06-08 09:49] VonOx commented on #6
@mjtrangoni Good job, you can close the issue. Thank you

[2018-06-08 09:53] mjtrangoni commented on #6
@VonOx Thanks!

[2018-06-08 09:53] #6 closed

[2018-12-18 12:19] ccghad opened #10 "Only Users of first Vendor in licenses.yml are shown"
### Host operating system: output of `uname -a`
Linux localhost 3.10.0-957.1.3.el7.x86_64

### flexlm_exporter version: output of `flexlm_exporter --version`
flexlm_exporter, version 0.0.3 (branch: master, revision: 458310b5e0e6809a7daeaef326734cb9ce9cc591)
  build user:       root@locahost
  build date:       20181212-09:48:06
  go version:       go1.11.2

### flexlm_exporter command line flags a

[2018-12-19 12:33] ccghad commented on #10
Hi @mjtrangoni ,

i made the PR. But now i have found another issue.
On some of our checked out licenses some part (between "hostname" and "version, see example) is missing. As of this the regex does not match and the user is not shown.

Example:
Regex matches:
username hostname /dev/pts/0 (v2014.12) (licenserver.local/7200 14777), start Tue 12/11 13:27

Regex doesn't match
username hostname (v201

[2018-12-19 14:19] ccghad commented on #10
Just found the solution. I made the third Character-Set optional: `(?: [[:print:]]+)?`
Now all Users are shown regardless of what the lmstat output looks like.

I commited this to the same PR #11

[2018-12-19 19:37] mjtrangoni commented on #10
@ccghad Thanks!

[2018-12-20 09:33] mjtrangoni commented on #10
Hi @ccghad,

This is not working well for me. We have to take a look here again. See,

[code]
And it produces this metric here,
[code]

[2018-12-20 11:43] ccghad commented on #10
You are right, that does not work out well :-(

We have some licenses reportet like this:
` USERNAME HOSTNAME (v61.4) (fqdn/1111 18924), start Wed 12/19 3:41, 12 licenses`

This doesn't work well with your original regex, hence my try to solve it like this.

[2018-12-20 11:49] mjtrangoni commented on #10
It is Ok. Feel free to send a new PR, that match both cases, or I will be taking a look next year. Life is not easy 😂.

[2019-01-07 12:51] ccghad commented on #10
Hi @mjtrangoni

I have not found a solution for the Problem. But after checking our logs, i have found that the example like
`USERNAME HOSTNAME (v61.4) (fqdn/1111 18924), start Wed 12/19 3:41, 12 licenses`
only very rarely occurs and i can live with that i think.

So i think it would be best to go back to commit e573c3b

[2019-01-29 02:26] DarkRider1768 opened #12 "Various runtime errors in docker build"
### Host operating system: output of `uname -a`
docker
### flexlm_exporter version: output of `flexlm_exporter --version`

current, docker
### flexlm_exporter command line flags and relevant YAML configuration file information

["--path.lmutil=/usr/bin/flexlm/lmutil", "--path.config=/config/licenses.yml"]
licenses:
  - name: app2
    license_server: 27000@etv*****.*****.ad
    #features_to_include

[2019-01-29 22:19] DarkRider1768 commented on #12
[root@ehs-docker-01 staging]# docker attach f795c83537cf
panic: assignment to entry in nil map

goroutine 4895 [running]:
github.com/mjtrangoni/flexlm_exporter/collector.parseLmstatLicenseInfoFeature(0xc00035b000, 0x177, 0x200, 0xc000493a70, 0x3, 0x3)
        /go/src/github.com/mjtrangoni/flexlm_exporter/collector/lmstat_linux.go:212 +0x761
github.com/mjtrangoni/flexlm_exporter/collector.(*lmstatC

[2019-02-06 20:44] mjtrangoni commented on #10
@ccghad sorry for the delay. Could you please check if this is working now for you?

[2019-02-06 20:55] mjtrangoni commented on #12
@DarkRider1768 sorry for the delay. I need more information from your side.
Could you please tell me how are you running it?
Are the FlexLM servers available inside the container?
Is the `flexlm_exporter` working standalone outside a container?

[2019-02-08 09:22] ccghad commented on #10
Hi @mjtrangoni,

i just updatet but i can see no difference in output.

I uploaded a current "lmstat -a" output of our license server (obfuscated):
[lmstat.txt](https://github.com/mjtrangoni/flexlm_exporter/files/2844412/lmstat.txt)

The only vendor where i see usernames in the flexlm_exporter output is "snpslmd"

[2019-02-27 12:01] mjtrangoni commented on #10
@ccghad Could you please check if this is working now for you?

[2019-02-27 12:28] mjtrangoni commented on #12
@DarkRider1768 closing this issue for the time. Please feel free to reopen if needed.

[2019-02-27 12:28] #12 closed

[2019-02-28 08:46] ccghad commented on #10
Hi @mjtrangoni

just tested and this is working now. Usernames are showing when no terminal device in lmstat. Perfect.

But what is still not working: no user is shown for one of our license vendors "cliolmd"
On the /metrics output of "flexlm_feature_used_users" the users are never listed.

[2019-03-05 13:00] mjtrangoni commented on #10
@ccghad I did test this now, and i.e. this line is matching,

[code]

Could you please specify if only one or all users are missing?

Are you sure you are setting `monitor_users: True` at the YAML file?

[2019-03-06 08:22] ccghad commented on #10
Hi @mjtrangoni

i have set the `monitor_users: True` for every vendor daemon:
![image](https://user-images.githubusercontent.com/25081589/53865919-9e2d9880-3ff0-11e9-8ea0-30fed27ed49c.png)

However, only users for Synopsys, Mentor, Cadence are ever shown.
The users (all) of the Cliosoft vendor are never shown. But we have always licenses checked out.

In `flexlm_features_used` the used licenses ar

[2019-03-11 11:23] mjtrangoni commented on #10
Could you please send me privately the result of  `$ lmutil lmstat -c port@license_server -a` only for Cliosoft?

[2019-03-12 10:38] ccghad commented on #10
@mjtrangoni
Just sent you the data to your Gmail address

[2019-03-13 01:39] pfranz opened #13 "track license denials"
Is there any way to log license DENIALS?  For example, when you're out of licenses and someone makes a request.

[2019-03-13 09:09] mjtrangoni commented on #13
Hi @pfranz,

Your question is really good. This information is unfortunately only exposed at the debug logs, and for that reason outside the scope of this project. I would recommend you to use one of this tools,

1. [mtail](https://github.com/google/mtail): extract whitebox monitoring data from application logs for collection in a timeseries database.
2. [Loki](https://grafana.com/loki#about):  Pr

[2019-05-08 13:36] bsener opened #14 "Build Error - undefined: collector.LicenseConfig"
### Host operating system: output of `uname -a`

Windows Server 2012

### flexlm_exporter version: output of `flexlm_exporter --version`

### flexlm_exporter command line flags and relevant YAML configuration file information

Default config file
### Are you running flexlm_exporter in Docker?

### What did you do that produced an error?
I ran the 'go build' command after running 'go get'.
### What

[2019-05-19 16:10] mjtrangoni commented on #14
@bsener Sorry for the delay. Could you please test if this is building for you on Windows from master branch?
If yes, please test if it is also working as expected. Thanks!

[2019-06-28 17:07] pfranz opened #15 "Pretty names for features"
I'm not sure if this is the case for all flexlm features, but Autodesk's are so cryptic they provide a rather beefy lookup table:
https://knowledge.autodesk.com/customer-service/network-license-administration/managing-network-licenses/interpreting-your-license-file/feature-codes/2018-flexnet-feature-codes

Due to how they're issued to us, the Grafana Dashboard was a bit overwhelming that I hadn't

[2019-06-29 14:51] mjtrangoni commented on #15
Hi @pfranz,
I like the idea, and something like the *snmp_exporter* would be great.
The only thing would be making this optional (disabled per default), as all feature that I have are readable out-of-the-box.
Would you like to send me a PR or should I implement it?

[2019-06-30 06:42] pfranz commented on #15
I was definitely intending for this to be optional.  To be clear, I was thinking of having it be a separate label instead of overwriting "name." As an example result: `flexlm_feature_issued{app="juno.lax",name="86988A250_2018_0F",pretty_name="Autodesk Flame 2018"} 2`  but I'm not well versed in Prometheus best practices.

I'd be happy if you had time to implement it.  I'm not too competent with Go

[2019-07-07 19:35] mjtrangoni commented on #14
Closing. Feel free to reopen

[2019-07-07 19:35] #14 closed

[2019-07-07 19:35] mjtrangoni commented on #13
Closing. Feel free to reopen

[2019-07-07 19:35] #13 closed

[2019-07-07 19:40] mjtrangoni commented on #15
@pfranz Could you please send me one Autodesk flexlm output per email or redacted it you like, so I can use it for testing the new feature?
FYI: The pretty name will be replacing the name label, as we need to save labels.

[2019-10-09 19:55] ilesser opened #16 "How to set up the grafana dashboard?"
Hi, first of all thank you for this project it is awesome!

I am very new to grafana and have no experience at all.
I would like to know if you could explain a little bit the steps necessary to import your dashboard so it can be used?

Here's what I've done:
I was able to run flexlm_exporter and I can access the metrics at localhost:9313/metrics  via my web browser.
I installed a grafana server an

[2019-10-13 18:00] nwies opened #17 "Alertmanager rule example"
Hello,

Please find below 2 rules for alertmanager.

groups:
- name: default
  rules:
  #FlexLm Server Down
  - alert: FlexLmServerDown
    expr: flexlm_server_status == 0
    for: 5m
    labels:
      severity: error
    annotations:
      summary: "Flexlm Error (instance {{ $labels.instance }})"
      description: "FlexLm {{ $labels.collector }} was not successful\n  VALUE = {{ $value }}\n  LABE

[2019-11-09 15:24] mjtrangoni commented on #17
Hi @nwies,

Thanks for contribting! See [here](https://github.com/mjtrangoni/flexlm_exporter#prometheus-rules)

[2019-11-09 15:24] #17 closed

[2019-11-09 15:29] mjtrangoni commented on #16
Hi @ilesser,

Sorry for the delay. You are missing the Prometheus server here. You have to setup one prometheus server, and configure there this exporter. Once you have the metrics on the prometheus server side, you can configure it as a grafana datasource, see [here](https://prometheus.io/docs/visualization/grafana/).

Closing this, but don`t hesitate to re-open if you have another question.

[2019-11-09 15:29] #16 closed

[2019-11-09 15:37] ilesser commented on #16
Hi @mjtrangoni ,

I'll give it a try during the week and let you know.
Thanks for the answer!

[2019-11-21 16:18] Anmaz82 opened #18 "Feature expiration problem"
Dear Mario,

First of all I want to thank you for your great product!

I'am using docker(:master) version of your software, and I have a problem to get feature expiration list.

In /metrics I see that feature - ( flexlm_scrape_collector_success{collector="lmstat_feature_exp"} 1 ) , but no data in prometheus at all regarding features expiration.

Maybe I'am looking at wrong place?
When I doing lmst

[2019-12-19 23:17] mill-systems opened #19 "Make failing"
### Host operating system: output of `uname -a`
3.10.0-957.5.1.el7.x86_64

### flexlm_exporter version: output of `flexlm_exporter --version`

n/a

### flexlm_exporter command line flags and relevant YAML configuration file information

### Are you running flexlm_exporter in Docker?
No

### What did you do that produced an error?
Just ran make

### What did you expect to see?
make completes

### W

[2019-12-20 19:15] mjtrangoni commented on #19
Hi @mill-systems,

This should be now fixed on master branch. Could you please test? Feel free to re-open if you find other related issue.

[2019-12-20 19:15] #19 closed

[2019-12-30 21:35] daveoy opened #20 "exporter falling over with: "fatal error: concurrent map writes""
### Host operating system: output of `uname -a`
docker 2:1.13.1-103.git7f2769b.el7.centos running on Linux <servername> 3.10.0-957.5.1.el7.x86_64 #1 SMP Fri Feb 1 14:54:57 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### flexlm_exporter version: output of `flexlm_exporter --version`
mjtrangoni/flexlm_exporter:master
### flexlm_exporter command line flags and relevant YAML configuration file informatio

[2019-12-30 23:20] daveoy commented on #20
some more information:

looks like reloading the http page works fine, but when prometheus tries to scrape the page, that's when it dies.

[2019-12-31 14:42] daveoy commented on #20
some new info, this appears to die not when a user loads the webpage (which totally works) but actually when prometheus scrapes the page.

[2020-01-08 18:46] knweiss commented on #20
It's easy to reproduce this issue: Build with `go build -race`and then start multiple metric scrapes in parallel.

The Go runtime will log many `WARNING: DATA RACE` warnings with explanations. They all happen at the writes to the package-level map variables in `collector/lmstat_{linux,windows}.go`.

[2020-01-08 21:15] mjtrangoni commented on #20
@daveoy thanks for reporting. I am currently on vacation, but I will take a look as soon as possible.

[2020-01-08 21:22] #20 closed

[2020-01-08 21:23] mjtrangoni commented on #20
@daveoy can you please check if this works for you? @knweiss fixed some race conditions

[2020-01-08 21:57] daveoy commented on #20
[code]
confirmed metrics are showing in prometheus and exporter is still up

great work all, thanks for the help

[2020-01-26 14:33] mjtrangoni commented on #18
Hi @Anmaz82,

Sorry for the late response! Could you please provide here the output of:

[code]
I need to check what`s not matching in your case. You can send it to me via e-mail or attached here if you like to.

Best regards,
Mario

[2020-01-28 12:13] JulienWegner opened #22 "Error during building"
First of all I want to thank you for this great project..
I tried to build flexlm_exporter but get an error all the time:

go: finding golang.org/x/oauth2 v0.0.0-20180821212333-d2e6202438be
go: finding github.com/coreos/etcd v3.3.18+incompatible
go get: error loading module requirements
make: *** [Makefile:85: /home/cem6564/go/bin/golangci-lint] Error 1

Do you have an idea to fix it?

[2020-02-05 08:07] mjtrangoni commented on #22
Hi @JulienWegner,
You need to provide me a lot of more information than that for giving you an answer.
- Do you have a running golang environment?
- Which golang version are you using?
You need 1.13.x for compiling it, as golang modules changed the way they works from version 1.12 to 1.13.

[2020-02-05 09:00] Anmaz82 commented on #18
Hello Mario,

Thanks for your answer!
I have compiled flexlm_exporter latest version and it's working fine, working version:

flexlm_exporter, version 0.0.4 (branch: master, revision: 424b78bc1a89af7337cd9186b290e6bffb536347)
  build user:       root@<hostname>
  build date:       20191209-14:34:39
  go version:       go1.13.5

Regards,
Anton

[2020-02-05 09:00] #18 closed

[2020-02-29 06:40] yurinnick opened #25 "Lmstat parser in a separate library"
Lmstat code looks neat and it would be great to reuse it for other flexlm related projects. Is it possible to move lmstat parsing existing code into a separate library, so it won’t have dependency on prometheus? Thanks!

[2020-03-01 13:37] mjtrangoni commented on #25
Hi @yurinnick,
you are right, It would be nice having a golang library for calling flexlm commands like lmstat. But this is out of the scope of this project, as then you would start thinking on supporting other commands, etc. If you are interested in creating that library, I would be happy to integrate it here. Thanks!

[2020-03-01 13:37] #25 closed

[2020-03-01 13:37] #22 closed

[2020-03-03 14:10] HavivEderi opened #27 "User regex not covering specific case"
### Host operating system: output of `uname -a` **Centos 7**

### flexlm_exporter version: output of `flexlm_exporter --version` **v0.0.4-29-g66beca4-dirty**

### flexlm_exporter command line flags and relevant YAML configuration file information

Created docker-compose.yml:
version: '3.3'
services:
    flexlm_exporter:
        container_name: flexlm_exporter
        user: root
        ports:

[2020-03-05 18:24] nwies opened #28 "Lic expiration not reported"
### Host operating system: output of `uname -a`
Centos 7
Linux localhost.localdomain 3.10.0-1062.12.1.el7.x86_64 #1 SMP Tue Feb 4 23:02:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### flexlm_exporter version: output of `flexlm_exporter --version`
git clone from yesterday
flexlm_exporter, version  (branch: master, revision: c601efe586e266351be52e84482dee20a538fd8f)
  build user:       root@localhos

[2020-03-05 19:05] mjtrangoni commented on #28
Hi @nwies,
Thanks for reporting! I will be taking a look this weekend, and checking what is not matching.

[2020-03-06 11:21] nwies commented on #28
As I see, "my" columns are not on the same order as yours.
Could it be possible to "find" the columns name at the begininig of the analysis of the lmstat -i ?

[2020-03-08 10:36] mjtrangoni commented on #28
@nwies yes, they switched the columns Vendors and Expires, see [here](https://github.com/mjtrangoni/flexlm_exporter/blob/master/collector/fixtures/lmstat_i_app1.txt). I will try to handle that, and also add a test case. Thanks!

[2020-03-08 14:11] mjtrangoni commented on #28
@nwies can you please test from master now?

[2020-03-08 14:19] nwies commented on #28
[flexlm_exporter_metrics_2020_03_08.txt](https://github.com/mjtrangoni/flexlm_exporter/files/4303302/flexlm_exporter_metrics_2020_03_08.txt)
Hello,

Sorry, But I still don't see the expiration values.
see the metrics as attachement.

Thanks for your help

[2020-03-08 14:52] mjtrangoni commented on #28
@nwies can you please send me the raw output of again, as a file?
[code]

Do you see the *lmstat_feature_exp* collector enabled in the logs?

[code]

Are you sure you put the licenses on the yml file as well?

[2020-03-08 15:05] nwies commented on #28
below the logs (the feature_exp is enabled) and 2 lmstat:

Mar 08 15:02:40 localhost.localdomain systemd[1]: Started FlexLm Exporter.
Mar 08 15:02:40 localhost.localdomain flexlm_exporter[24116]: time="2020-03-08T15:02:40Z" level=info msg="Starting flexlm_exporter (version=, branch=master, revision=c601efe586e266351be52e84482dee20a538fd8f)" source="flexlm_exporter.go:94"
Mar 08 15:02:40 localhost.

[2020-03-08 15:29] mjtrangoni commented on #28
@nwies can you please test now from master, with `--log.level="debug"` and send me the output?

[2020-03-08 15:38] nwies commented on #28
please find the inofs requested.

I think it's working now ...
;)
[log_debug_flexlm_2020_03_08.log](https://github.com/mjtrangoni/flexlm_exporter/files/4303432/log_debug_flexlm_2020_03_08.log)
[Metrics_2020_03_08_16_37.txt](https://github.com/mjtrangoni/flexlm_exporter/files/4303433/Metrics_2020_03_08_16_37.txt)

[2020-03-08 15:45] mjtrangoni commented on #28
@nwies interesting,  actually it should be working before.
Please test this without the debug flag for a day or two and let me know if it works well.
Thanks!

[2020-03-08 16:38] nwies commented on #28
below a new grafana "Stat" panel query./ I didn't use SingleStat be cause of multiple end time on the same feature:

sum((flexlm_feature_expiration_seconds{app="[[app]]",name="[[feature]]"} - time()) / 86400) by (licenses)

![flexlm_grafana_update_2020_03_08](https://user-images.githubusercontent.com/10389749/76167000-a40a0c80-6163-11ea-84a6-ef4aa632e74a.png)

[2020-03-10 17:42] nwies commented on #28
hello,
everything is running smooth.
Thanks for your help.

[2020-03-10 17:42] #28 closed

[2020-03-24 09:18] nwies opened #33 "Error during parsing expiration date on lic with different expiration date"
### Host operating system: output of `uname -a`
Linux localhost.localdomain 3.10.0-1062.18.1.el7.x86_64 #1 SMP Tue Mar 17 23:49:17 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### flexlm_exporter version: output of `flexlm_exporter --version`

flexlm_exporter, version  (branch: master, revision: 0f97863064f040b96d582fc800bfc910dda8f83b)
  build user:       root@localhost.localdomain
  build date:

[2020-03-24 09:23] nwies commented on #33
add the metrics expo
[lmstat_multiple_lic_expiration_metrics.txt](https://github.com/mjtrangoni/flexlm_exporter/files/4374349/lmstat_multiple_lic_expiration_metrics.txt)
rted

[2020-03-25 05:05] nwies commented on #33
add the /var/log/messages with flexlm_exporter in "debug" mode
[message_log_debug.txt](https://github.com/mjtrangoni/flexlm_exporter/files/4379122/message_log_debug.txt)

[2020-03-25 06:01] nwies commented on #33
I look into the log message and I think I found the problem.
Only some features have an error message ("prd_common 2lic " but not "prd_common 8lic").
there is a counter for each feature numbers. For a permanent lic, no problem because the exporter parse the lmstat output and the counter correctly:

"[prd_common                      15.0         2           ugslmd        30-apr-2020 prd_common 15.0

[2020-03-30 14:19] csrichter commented on #15
I could also use this feature.
Here is the metrics output of the flexlm exporter for autodesk: [autodesk_metrics_redacted.txt](https://github.com/mjtrangoni/flexlm_exporter/files/4403348/autodesk_metrics_redacted.txt)

Maybe a more flexible way to implement this, would be to let the user (optionally) specify the lookup table (e.g. as csv file), which will be used to translate the feature names. If

[2020-04-06 11:14] D4R4 opened #34 "Feature Request: Simple user lic usage"
As you can see below, flexlm_feature_used_users is differentiating users based on the tool they are using:
![image](https://user-images.githubusercontent.com/6910284/78552548-ff352a80-7807-11ea-849c-20c9e9607dec.png)
I was wondering if there is the possibility to maybe add a Simple function that can trim the extra stuff and sum each user's usage for a total amount. For example, user1 in the above

[2020-04-10 13:34] mjtrangoni commented on #34
Hi @D4R4,
I am actually wondering why the user string has so much information.
I would expect a simple username there. Can you share some information on that?

Besides of that, you have to ways of "grouping" or sum up the usage over a label, in this case **user**.
1. On the Prometheus server side, see [recording_rules](https://prometheus.io/docs/prometheus/latest/configuration/recording_rules/). Y

[2020-04-10 13:48] mjtrangoni commented on #33
@nwies,
Sorry for the delay. Where does that `30-Apr-20202` comes from?

[2020-04-10 13:59] nwies commented on #33
Hello,

It's the correct date April 30th 2020 and maybe the number of lic expiring
{2}.

I don't have any other numbers lic expiring for the moment

Le ven. 10 avr. 2020 à 15:48, Mario Trangoni <notifications@github.com> a
écrit :

[2020-04-15 17:51] D4R4 commented on #34
I added a function like this:
`		lmstatFeatureUsedUsersSimple: prometheus.NewDesc(
			prometheus.BuildFQName(namespace, "feature", "used_users_simple"),
			"License feature used by user labeled by app, feature name and "+
				"username of the license.", []string{"app", "name", "user"}, nil,
		),`

`if licenses.MonitorUsers && (licUsersByFeature[name] != nil) {
			var licUsers = licUsersByFeature[n

[2020-04-23 08:03] juzza88 opened #35 "What are the pre-reqs?"
Any chance you can give us a list of what is need to get this going?

Centos host with docker?
golang configured?

what else is needed? none of your steps work right now

[2020-04-23 08:54] mjtrangoni commented on #35
Hi @juzza88,
such issues are not necessary. You are opening an issue on an open source project, and not getting paid enterprise support.
Please read always the documentation before,

- Golang: https://golang.org/doc/install
- Prometheus: https://prometheus.io/docs
- Grafana: https://grafana.com/docs/grafana/latest/

After that, please follow the Issue template I take the time to do.

Thanks!

[2020-04-23 08:54] #35 closed

[2020-04-24 01:07] juzza88 commented on #35
even the pull doesnt work

PS C:\> docker pull quay.io/mjtrangoni/flexlm_exporter
Using default tag: latest
docker : Error response from daemon: manifest for quay.io/mjtrangoni/flexlm_exporter:latest not found: manifest unknown: manifest unknown
At line:1 char:1
+ docker pull quay.io/mjtrangoni/flexlm_exporter
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecif

[2020-05-13 08:47] ketantalreja opened #36 "Running on windows os leads to issues"
I have pulled a docker image and running using 'docker run' command as specified in readme file here **https://github.com/mjtrangoni/flexlm_exporter**

### Host operating system: output of `uname -a`
windows 10 Pro 64-bit

### flexlm_exporter version: output of `flexlm_exporter --version`

 flexlm_exporter (version=v0.0.4-64-ga2362f4-dirty, branch=master, revision=a2362f400fdba7709091a806829166dc6

[2020-05-17 13:54] mjtrangoni commented on #36
Hi @ketantalreja,

I' ve never run it on windows, but you need to replace `$LMUTIL_LOCAL` with the path where the flexlm's lmutil binary resides, and `$CONFIG_PATH_LOCAL` with the path where your configuration file `licenses.yml` resides.

I can not deliver a docker image with that proprietary software binary, and the configuration file needs to be defined by you.

I hope this works, let me know i

[2020-05-18 14:43] badies commented on #27
Hi,
We have the same issue, it seems that the regex needs to be adjusted for this case.

Please see [demo](https://regex101.com/r/tD7AsW/1)

[2020-05-19 19:31] badies commented on #27
#37

[2020-05-20 18:21] mjtrangoni commented on #27
Hi @HavivEderi,

Thanks for reporting. Why did you close the issue? Do you have the output of ```bash lmutil lmstat -c license_file -a``` for that license?

[2020-05-25 11:44] ketantalreja commented on #36
Hi @mjtrangoni
Thanks for your inputs. I have follow up questions based on your reply,
1. Could you help me on where do I find flexlm's lmutil binary?
2. In this example command below, I am getting error saying "Invalid flag: --path.lmutil" and similarly for flag "--path.config",
```docker run --name flexlm_exporter -d -p 9319:9319 --volume /ur/bin/flexlm:/usr/bin/flexlm/ --volume /config:/config

[2020-07-06 13:40] HavivEderi opened #38 "Feature request: list of features"
Hi,

I think it will be really useful to write a function that return all feature names and feature names per app.
Sadly because that you use field "name" for features, when query Prometheus for "/api/v1/label/name/values" i get app and vendor names as well as feature names.
I think the root cause is because you use "name" field in flexlm_vendor_status and flexlm_scrape_error.
So it will be cool e

[2020-07-24 18:03] woodshop2300 opened #40 "multi server example expected result is what?"
In the readme configuration example mutiple servers are specified
`license_server: 28000@host1,28000@host2,28000@host3`
What is the expected result of doing this?

Expanded:
I have one weird case in my environment where i have the licenses for a product split between 2 servers.
These servers aren't aware of each other, they aren't a primary/backup configuration.
When i attempted to use the above s

[2020-07-24 18:22] mjtrangoni commented on #40
Hi @woodshop2300,

Yes, you are right. The idea is that if the first server fails, the exporter will pick the second one, as they are supposed to serve the same license. This is a license triple configuration, that allow you to reboot for maintenance.

In your case, you need to define 2 different licenses, as they are no the same one.

[2020-07-24 18:41] woodshop2300 commented on #40
Alright, i had my suspicions it would be something like that.

[2020-07-24 18:41] #40 closed

[2020-09-04 02:55] juzza88 opened #42 "Dashboards empty but metric pages showing data"
### Host operating system: output of `uname -a`
Linux XXservernameXX 3.10.0-1127.10.1.el7.x86_64 #1 SMP Wed Jun 3 14:28:03 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### flexlm_exporter version: output of `flexlm_exporter --version`

./flexlm_exporter --path.config="/root/go/src/github.com/mjtrangoni/flexlm_exporter/config/fixtures/licenses.yml" --path.lmutil="/opt/flexlm_artwork_v11.14.1.1.linux64/

[2020-09-04 02:56] juzza88 commented on #42
Dashboards shows below

FLEXlm lmstat: undefined (build:undefined arch:undefined) - Exporter: version undefined, branch undefined, built with undefined

[2020-09-04 02:58] juzza88 commented on #42
flexlm_exporter, version  (branch: , revision: )
  build user:       root@XXservernameXX
  build date:       20200827-05:43:58
  go version:       go1.14.6

[2020-09-04 04:38] #42 closed

[2020-10-06 18:07] Geogboe commented on #36
Thank you so much for this project! Extremely useful!

For anyone else running on Windows I've just tested and confirmed that you can actually build the executable on Windows directly using go. Just make sure you have a valid go development environment set up and then: `go get github.com/mjtrangoni/flexlm_exporter` and then `cd $env:GOPATH\src\github.com\mjtrangoni\flexlm_exporter` and finally `go

[2020-10-08 06:42] dekoenpi commented on #33
Hello,

first thank your for making this great exporter!
I have the same problem on my site. Used newest image mjtrangoni/flexlm_exporter:master

**docker-compose logs:**

`flexlm-exporter    | time="2020-10-08T06:25:21Z" level=error msg="could not convert to date: parsing time \"30-Jul-20212\": extra text: 2" source="lmstat_feature_exp_linux.go:78"

flexlm-exporter    | time="2020-10-08T06:25:21Z

[2020-10-11 11:29] mjtrangoni commented on #36
@Geogboe thank you for your input! Would you mind sending a PR for adding that information to the README.md file?

[2020-10-29 16:37] 99rgosse commented on #33
Hello, and thanks for this exporter tool & the Grafana dashboard 👍

I got the same issue than @dekoenpi and I was wondering if it's not because of the locale settings ?
I forked your project and will try to test this :)
Thanks again !

[2020-11-03 14:38] 99rgosse commented on #33
While I'm not sure from where the extra digit come, I added this hideous workaround
https://github.com/99rgosse/flexlm_exporter/blob/55b36eae63ea5a48429cde5df6c4834d89c82d40/collector/lmstat_feature_exp_linux.go#L68

and got the exporter to run
Feel free to comment if I can help in any case...

[2020-11-03 17:28] mjtrangoni commented on #33
@99rgosse thanks for debugging this problem. Can you send me a PR so that we can integrate the fix to the project? Thanks!

[2020-11-04 14:00] 99rgosse commented on #33
With

With pleasure !! Later, when possible, I will see also to anonymize my licence file so that we can add it to the fixtures tests :)

[2020-11-10 17:01] mjtrangoni commented on #33
Closed via #44. Thanks @99rgosse

[2020-11-10 17:01] #33 closed

[2021-01-11 15:08] JSP80 opened #45 "Docker scraper gives no results"
### Host operating system: output of `uname -a`
Linux 1ea449ced488 4.19.128-microsoft-standard #1 SMP Tue Jun 23 12:58:10 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### flexlm_exporter version: output of `flexlm_exporter --version`
flexlm_exporter, version 0.0.5-13-gd08149b (branch: master, revision: d08149b1ce29e28dc16c3f3a87d5eae61fe929fd)
  build user:       circleci@a56f76e7ba6d
  build date:

[2021-01-11 15:14] JSP80 opened #46 "Feature request: Add hostnames to Prometheus"
#### Thanks for the great tool.
Is it possible to add Hostnames to the results in Prometheus. If I do lmstat -c ....@.... -v I get a result like this:
Users of Nxhxhxhhx:  (Total of 78 licenses issued;  Total of 33 licenses in use)
____
  "Nxhxhxhhx" v36.0, vendor: notapplicable, expiry: 1-jan-0
  floating license

    edengineer EDSCLIENT03 EDSCLIENT030.0 (v36.0) (licserver/28000 24025), start Tu

[2021-07-05 08:57] TobiasKadelka opened #48 "Idea for feature: Adding version to "flexlm_feature_used_users""
Hello!
My group is using the flexlm exporter for monitoring license usage on our cluster. Since our users need oftentimes the same license, but different versions of it to run their code, we want to monitor the versions of used licenses per user, too.

Currently the program displays for `flexlm_feature_used_users` the fields "app", "name" of the toolbox and the "user".
Because the lmutil tool alre

[2021-07-14 07:52] #48 closed

[2021-07-18 09:41] mjtrangoni commented on #45
@JSP80 Did you debug why `lmutils lmstat -c 28000@licenseserver -a` says it is down inside of docker? You need to find that out.

[2021-07-18 09:44] mjtrangoni commented on #46
@JSP80 it is possible, but it is an antipattern, as the number of labels would explode, and also the number of stale labels would grow exponentially. See [this](https://www.robustperception.io/cardinality-is-key).

[2021-07-18 09:44] #46 closed

[2021-07-18 09:46] mjtrangoni commented on #38
@HavivEderi can you elaborate a little bit more here with examples?

[2021-12-13 13:13] avelure opened #53 "Lic expiration not reported Windows"
### Host operating system:
Windows 10

### flexlm_exporter version:
From source c861cf6 ( `flexlm_exporter --version` produces blank version output, running `make` before gives an error `File not found - *~
make: *** [Makefile:58: clean] Error 2`)

### flexlm_exporter command line flags and relevant YAML configuration file information
flexlm_exporter.exe --path.lmutil="C:\flexlm\lmutil.exe" --log.

[2021-12-16 10:12] mjtrangoni commented on #53
Hi @avelure,
thanks for reporting. I will be checking the windows cases, and let you know if I need more information.

[2022-03-23 13:13] FaziXX opened #54 "Panic: runtime error: invalid memory address or nil pointer dereference"
Hello,

I have this error since 4 days

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x28 pc=0x893130]

goroutine 12 [running]:
github.com/mjtrangoni/flexlm_exporter/collector.parseLmstatLicenseInfoServer(0xc00012a780, 0x1a, 0x1a, 0xc00012a780)
        /root/go/src/github.com/mjtrangoni/flexlm_exporter/collector/lmsta

[2022-04-09 17:56] mjtrangoni commented on #54
Hi @FaziXX,

Sorry for the delay. I see your Golang version is pretty outdated. Can you try to build with at least go 1.17.x?

FYI, see this from the Golang documentation, https://go.dev/doc/devel/release,

That is why, this project is focused on the same target.

[2022-05-25 01:47] sorinel999 commented on #34
Hi @D4R4, I am also interested in summing and reporting tokens per user. Where did you add this function and "if" statement?

[2022-06-26 15:44] #45 closed

[2022-06-26 15:45] #54 closed

[2022-07-01 15:02] cschyma opened #59 "lmgrd is not running: License server machine is down or not responding."
I am using your latest Docker image ...

` docker run -p 9319:9319 --volume c:\\workspace\\monitoring\\flexlm-exporter:/usr/bin/flexlm/ --volume c:\workspace\monitoring\flexlm-exporter/licenses.yml:/home/exporter/config/licenses.yml mjtrangoni/flexlm_exporter:master --path.lmutil="/usr/bin/flexlm/lmutil" --path.config="/home/exporter/config/licenses.yml"`

... and it seems to be starting fine:

`l

[2022-07-08 05:14] yisrael-vayyar opened #60 "Feature request: Pending license"
Hi,

Count of pending licenses per feature can assist in evaluating if and how much addition of new licenses are required.

excellent and useful exporter. Thanks!

[2022-07-08 16:11] babainc opened #61 "Issue with multiple licenses (license aggregation) in the same name field"
Hello,
I've a lack of metrics when multiple licenses are set in the same "name" field (namespace). Here is the licenses.yaml for a better understanding

[code]
The system is running on a Debian11 linux server and the flexlm_exporter container use the latest docker version.
this container is started from a dockerfile that start also node_explorer (linux), blackbox_exporter, alertmanager, prometheus

[2022-08-16 17:42] mjtrangoni commented on #53
As @SuperSonicFlea confirmed, this issue is now resolved.

[2022-08-16 17:42] #53 closed

[2022-08-17 12:20] avelure commented on #61
I have the same issue, but in this case there are different vendors on each port. The flexlm_server_status metric only lists the last server even though they are server processes on the machine. The issue seems to be the parsing in `parseLmstatLicenseInfoServer` of `lmstat.go` that makes dictionary of servers with the key being only the fqdn, so if another server shows up with same fqdn it gets ov

[2022-08-17 12:36] avelure opened #64 "List of servers in license_server on windows"
On windows the `lmutil lmstat -c` command accepts a list of servers separated by `;`. The documentation for flexlm_exporter displays servers separated by a comma in the yaml file for `license_server`. The value of the key is passed directly to lmstat without formatting, which works on Linux, but not Windows as then only the first server is processed. A proposal is to substitute whichever separator

[2022-08-17 12:42] avelure commented on #64
I see now the commas are supposed to be for redundancy

[2022-08-17 12:42] #64 closed

[2022-08-30 00:23] SuperSonicFlea commented on #59
is 8224 the correct port? have you tried: ./lmutil lmstat -c @sdet2225

[2022-08-30 00:28] SuperSonicFlea commented on #60
I believe this would require access to the flexlm Log per service which tracks denials - denials are usually when no license is available but can also be from the use of options files to restrict usage.  I know bigger monitoring companies use agents loaded on the license server directly to share the data back to the Monitoring server, not sure what is possible to implement this on this type of pro

[2022-08-30 09:33] yisrael-vayyar commented on #60
lmstat displays the pending licenses

[2022-08-30 09:50] mjtrangoni commented on #61
Hi @avelure,

Thanks for pointing this out! Feel free to summit a PR for handling the case, or I can take a look at it later on.

[2022-08-30 09:58] mjtrangoni commented on #38
this seems stale, closing for now. Feel free to reopen.

[2022-08-30 09:58] #38 closed

[2022-09-09 07:52] cschyma commented on #59
Same result:

[code]

[2022-09-09 08:42] mjtrangoni commented on #59
Can you check if you can resolve that DNS inside the container?

[2022-09-09 10:05] cschyma commented on #59
Yes.

[code]

[2022-09-09 10:25] mjtrangoni commented on #59
Interesting! Can you check what the server logs says about your call?

On Fri, 9 Sept 2022 at 12:05, Christian Schyma ***@***.***>
wrote:

[2022-09-12 23:33] SuperSonicFlea commented on #59
I have seen similar results to this if the lmgrd(or vendor deamon) port is blocked too. flexlm tends to use 2 ports. I found an example of how to specify both ports here: [How do I choose specific ports for my license server?](https://developer.arm.com/documentation/ka004655/latest)

[2022-11-07 12:18] cschyma commented on #59
Finally some feedback from me. It's working now, but the actual problem is not yet known.

We had to change the license.dat file at the license server. Replace the hostname of the server by the IP address of the server:

`SERVER myserver 0000123abcd 1700`

to

`SERVER 127.0.0.1 0000123abcd 1700`

Proposed solution found [here](https://www.l3harrisgeospatial.com/Support/Self-Help-Tools/Help-Article

[2022-11-07 12:18] #59 closed

[2022-11-09 01:05] abhinavDhulipala opened #65 "Unhelpful error messages"
### Host operating system: output of `uname -a`
Linux  5.4.0-113-generic #127-Ubuntu SMP Wed May 18 14:30:56 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### flexlm_exporter version: output of `flexlm_exporter --version`

[code]
### Are you running flexlm_exporter in Docker?
No, running from systemd
### What did you do that produced an error?
Can't seem to track down the event that cause the error, bu